<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1">
  	<parameter name="port" value="4723"></parameter>  
  	<parameter name="device" value="SR"></parameter>
  	<parameter name="sp" value="8200"></parameter>
  	<parameter name="udid" value="emulator-5554"></parameter>
    <classes>
      <class name="pp.prallel"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
  	<parameter name="port" value="4725"></parameter>  
  	<parameter name="device" value="GR"></parameter>
  	<parameter name="sp" value="8201"></parameter>
  	<parameter name="udid" value="emulator-5556"></parameter>
    <classes>
      <class name="pp.prallel"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
